*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

nav  {
    /* color: #fff; */
    height: 70px;
    width: 100%;
}

nav ul {
    float: right;
    margin: 18px 200px 10px 0px;
}

nav li{
    display: inline-block;
    padding: 10px;
    
}

li a{
    text-decoration: none;
    color: rgb(136, 145, 145);
    font-size: 18px;
}
li a:hover{
    color: rgb(8, 139, 96);
}

.navim{
    width: 268px;
    height: 33px;
    margin: 20px 200px;
}

.premiere{
    margin-top: 80px;
}

.logo{
    height: 40px;
    width: 40px;
   margin: 0 auto;
}

h2{
    text-align: center;
    padding: 40px;
}

.deuxieme {
margin-top: 30px;
}
.grandediv1{
    width: 1000px;
    height: 160px;
    /* background: aqua; */
    margin: 0 auto;
    display: flex;
   justify-content: center;

}

.sousdiv1 {
    width: 440px;
    height: 110px;
    font-size: 20px;
    flex-wrap: wrap;
    padding-left: 20px;
}

.sousdiv2 {
    width: 450px;
    height: 110px;
    font-size: 20px;
    flex-wrap: wrap;
    padding-left: 20px;
   
}

.grandediv2 {
    display: flex;
   justify-content: center;

}
.sousdiv3{
    height: 345px;
    width: 300px;
    background: #0b91eb;
    border-radius: 15px;
    margin: 15px;
    position: relative;

}

h3{
    position: absolute;
    top: 20%;
    left: 15%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.p1{
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 25px;
    color: #fff;
}

select{

    position: absolute;
    bottom: 10%;
    left: 15%;
    border: none;
    color: #fff;
    background: #0b91eb;
    font-size: 20px;
    border-bottom: 2px solid;

}


.troisieme{
    margin-top: 10px;
}

.grandediv3{

    width: 1000px;
    height: 360px;
    display: flex;
    /* background: #000; */
    margin: 0 auto;
}

.p2{
    width: 500px;
    height: 360px;
    text-align: left;
    color: rgb(15, 209, 144);
    position: relative;
}

.p22{
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 25px;
}


.image{

    width: 500px;
    height: 360px;
    
}

img{
    height: 25px;
    margin: 25px;

}